include README.md CONTRIBUTING.md CHANGELOG.md LICENSE pyproject.toml .gitignore
recursive-include src *.md
recursive-include docs *.md
recursive-include examples *.py *.toml *.md
recursive-include tests *.py *.md
recursive-include scripts *.py *.md
recursive-include .github *.yml *.md
